table {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    font: bold;
}


#album-cover-art{
    height: 300px;
    width: 300px;
}

.albums {
    padding-top: 20px;
    padding-bottom: 40px;
}